<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>code here
  </title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300italic,400,700,900' rel='stylesheet' type='text/css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">

</head>

<body>

  <div class="main-body">

      <nav class="navbar navbar-expand-lg mt-3">
        <div class="container">
          <a class="brand-logo" href="#"><img class="navbar-brand img-fluid  logo " src="static/OBC_logo_400x400-removebg-preview.png" alt="" width="200"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
            </ul>
            <!-- <div class="d-flex justify-content-center" >
              <button class="btn nav-btn rounded-pill px-3 " >Rookie</button>
          </div> -->
        </div>
      </nav>
      <br><br><br>


      <div class="container mt-lg-0 mt-5">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center ">
            <div class="main-content ">
            <h1 class="main-heading">Code here</h1>
            <span class="main-heading "> </span>
                <br><br>   
            <h5 class="mt-4 sub-heading">
                Are you passionate about using the technology to make a psotive impoact on the world?

                Lets Kick Start!
                 0 to 1
            </h5>

            <div class="mt-5 d-flex mb-0">
              <a href="/mos" class="input-button btn px-56 py-3" tabindex="-1" role="button" aria-disabled="true">Start your journey</a>
            
            </div>
          </div>
          </div>
          <div class="col-md-6 d-flex    justify-content-center">
            <img class="img-fluid main-image" src="static/image_processing20191129-6609-1rteu9z.png" alt="">
          </div>
        </div>
      </div>
 
  </div>





   <!-- about page -->
   <section id="about" class="container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line about"></span>
          <span class="section-title text-muted about">SDD</span>
          <span class="line about"></span>
        </div>
      </div>
    </div>


    <div class="row max">

      <div class="col-sm-6 text-center">
        <img src="static/FTnIgq4WYAAfJVQ-removebg-preview.png">
      </div>  

      <div class="col-sm-6 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-user"></i></div>
          <p> Coding made simple. 
           Hung up from where to start?
           Get a complete gudinace from where to start and where to end. 
          </p>
        </div>
      </div>

      

    </div>


  </section>





  <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               <br> <h2 class="text-uppercase section-heading">Services<br></h2><br>
               <BR> <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3><br>
            </div>
        </div>
        <br>
        <div class="row space-rows" id="animated-cards">
            <div class="col">
                <div class="card cards-shadown cards-hover">
                    <div class="card-header"><span class="space"><i class="fab fa-angular service-icon" id="service-icon-1"></i></span>
                        <div class="cardheader-text">
                            <h4 id="heading-card-1" class="heading-card">Web App</h4>
                            <p id="cardheader-subtext-1" class="cardheader-subtext">HTML, CSS, JS, Angular</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text sub-text-color"> Description:</p>
                        <p class="card-text cardbody-sub-text">We provide all you need for a special website or web app.<br /><br /><br /></p>
                    </div>
                </div>
            </div>
            <br><br><br>


            <div class="col">
                <div class="card cards-shadown cards-hover">
                    <div class="card-header"><span class="space"><i class="fab fa-windows service-icon" id="service-icon-2"></i></span>
                        <div class="cardheader-text">
                            <h4 id="heading-card-2" class="heading-card">Windows</h4>
                            <p id="cardheader-subtext-2" class="cardheader-subtext">C#, C++</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text sub-text-color"> Description:</p>
                        <p class="card-text cardbody-sub-text">Any programme in .NetFreamwork and C base Language.<br /><br /><br /></p>
                    </div>
                </div>
            </div>


            <br><br><br>


            <div class="col">
                <div class="card cards-shadown cards-hover">
                    <div class="card-header"><span class="space"><i class="fab fa-windows service-icon" id="service-icon-2"></i></span>
                        <div class="cardheader-text">
                            <h4 id="heading-card-2" class="heading-card">Windows</h4>
                            <p id="cardheader-subtext-2" class="cardheader-subtext">C#, C++</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text sub-text-color"> Description:</p>
                        <p class="card-text cardbody-sub-text">Any programme in .NetFreamwork and C base Language.<br /><br /><br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
     
        <p class="rights-text">blablbalbalaab<b>FantacyDesigns</b> foss.</p>
      

      <!-- <div class="right-col">
        <h1>Our Newsletter</h1>
        <div class="border"></div>
        <p>Enter Your Email to get our news and updates.</p>
        <form action="" class="newsletter-form">
          <input type="text" class="txtb" placeholder="Enter Your Email">
          <input type="submit" class="btn" value="submit">
        </form>
      </div> -->
    </div>
  </footer>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <script src="./script.js"></script>
</body>

</html>